In [ ]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np

In [ ]:
# READ THE DATA
df=pd.read_csv('IMDB Dataset.csv')

In [50]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [51]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [ ]:
# Will work on 10000 rows as the data is taking more time

#data cleaning

#1.Remove HTML tags
#2.Converting everything into lower case
#3.Remove stop words - like, and, because, I , am
#4.Removing special character
#5.Stemming

In [53]:
df1=df.sample(1000)

In [54]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 34938 to 29184
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     1000 non-null   object
 1   sentiment  1000 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

In [55]:
df1.shape

(1000, 2)

In [56]:
#Converting the output into 1 and 0 as it should be in numerical format
df1['sentiment'] = df1['sentiment'].map({'positive': '1', 'negative': '0'})

In [58]:
df1['review'].iloc[5]

"This show is beautifully done. When it first came out I though it nothing more than a light-hearted family comedy with quite a few good one-liners. It seemed to express many families really well too, with different concepts of both parent and child, however, like I said, I never thought any more of it then a good watch on an evening. However, my view was shot out the other window when the tragic death of the fantastically funny John Ritter accrued. The programme stood it's ground and really commended the characters life in a very sensitive way that also touched the hearts of all the admire res of John Ritter, a fantastic actor with the talent to do anything. When the show aired after Ritters passing, I really wanted to just give my dad a hug and let him know how much he meant to me. I thought this shone threw the acting talents of the three children, particularly that of Bridget's character, who was worried of the last words she said to him. It reminded me that no matter what horrible things I say to my dad, I don't mean them and it's very important that he knows this. Great Show"

In [ ]:
# To remove html tags

import re
clean = re.compile('<.*?>')
re.sub(clean, '', df1.iloc[5].review)

"This show is beautifully done. When it first came out I though it nothing more than a light-hearted family comedy with quite a few good one-liners. It seemed to express many families really well too, with different concepts of both parent and child, however, like I said, I never thought any more of it then a good watch on an evening. However, my view was shot out the other window when the tragic death of the fantastically funny John Ritter accrued. The programme stood it's ground and really commended the characters life in a very sensitive way that also touched the hearts of all the admire res of John Ritter, a fantastic actor with the talent to do anything. When the show aired after Ritters passing, I really wanted to just give my dad a hug and let him know how much he meant to me. I thought this shone threw the acting talents of the three children, particularly that of Bridget's character, who was worried of the last words she said to him. It reminded me that no matter what horrible things I say to my dad, I don't mean them and it's very important that he knows this. Great Show"

In [ ]:
# CREATING FUNCTION FOR REMOVING THE HTML TAGS

import re
def clean_htmltags(text):
  clean = re.compile('<.*?>')
  return re.sub(clean, '', text)

In [61]:
df1['review']=df1['review'].apply(clean_htmltags)

In [62]:
# Convert text to lower case

def convert_lower(text):
  return text.lower()

In [63]:
df1['review']=df1['review'].apply(convert_lower)

In [65]:
# Function to remove special characters

def remove_special_char(text):
  text=re.sub('[^a-zA-Z0-9]',' ',text)
  return text

In [66]:
df1['review']=df1['review'].apply(remove_special_char)

In [ ]:
# remove stop words
import nltk
from nltk.corpus import stopwords

In [ ]:
# FUNCTION TO REMOVE THE STOP WORDS

def remove_stopwords(text):
  new_text=[]
  for i in text.split():
    if i not in stopwords.words('english'):
      new_text.append(i)
  y=new_text[:]
  new_text.clear()
  return y

In [70]:
nltk.download('stopwords')
df1['review']=df1['review'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shsood\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Perform Stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
# FUNCTION TO PERFORM STEMMING

y=[]

def perform_stemming(text):
  for i in text:
    y.append(ps.stem(i))
  z=y[:]
  y.clear()
  return z

In [73]:
df1['review']=df1['review'].apply(perform_stemming)

In [74]:
df1['review']

34938    [got, interest, movi, somebodi, made, beauti, ...
12728    [worst, movi, ive, ever, seen, seen, lot, movi...
43062    [johnson, fan, undoubtedli, worst, movi, done,...
12859    [realli, enjoy, particular, product, mikado, p...
36594    [american, pie, beta, hous, 6th, american, pie...
                               ...
7829     [film, less, year, soviet, withdraw, afghanist...
40157    [use, love, muppet, muppet, movi, great, muppe...
6009     [death, colleg, campu, appear, suicid, actual,...
26666    [possibl, get, wors, probabl, steven, seagal, ...
29184    [love, tv, show, hook, first, time, saw, wish,...
Name: review, Length: 1000, dtype: object

In [ ]:
# Join back the list

def join_back(list_input):
  return " ".join(list_input)

In [76]:
df1['review']=df1['review'].apply(join_back)
df1

                                                  review sentiment
34938  got interest movi somebodi made beauti video b...         0
12728  worst movi ive ever seen seen lot movi friend ...         0
43062  johnson fan undoubtedli worst movi done anybod...         0
12859  realli enjoy particular product mikado produc ...         1
36594  american pie beta hous 6th american pie movi s...         0
...                                                  ...       ...
7829   film less year soviet withdraw afghanistan sub...         1
40157  use love muppet muppet movi great muppet caper...         0
6009   death colleg campu appear suicid actual cover ...         0
26666  possibl get wors probabl steven seagal get wel...         0
29184  love tv show hook first time saw wish act touc...         1

[1000 rows x 2 columns]

In [ ]:
# TO CREATE A COLUMNS OF THE DISTICT WORDS
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [78]:
X=cv.fit_transform(df1['review']).toarray()

In [79]:
X.shape

(1000, 12766)

In [80]:
y=df1.iloc[:,-1].values

In [81]:
y.shape

(1000,)

In [82]:
# Train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=24)

In [83]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

In [84]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [94]:
print(clf1.fit(X_train,y_train))
print(clf2.fit(X_train,y_train))
print(clf3.fit(X_train,y_train))

GaussianNB()
MultinomialNB()
BernoulliNB()

In [ ]:
# MAKING PREDICTIONS ON ALL THE MODELS
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [87]:
y_test.shape

(200,)

In [88]:
y_pred1.shape

(200,)

In [ ]:
# CHECKING THE ACCURACY
from sklearn.metrics import accuracy_score
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinominal",accuracy_score(y_test,y_pred2))
print("Bernoulli",accuracy_score(y_test,y_pred3))

Gaussian 0.625
Multinominal 0.775
Bernoulli 0.795

In [ ]:
# To improve accuracy we can pass max_features in the Countvectorizer
# Now we will have 1000 columns where the words are repeating most of the time.

from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)
X=cv.fit_transform(df1['review']).toarray()
y=df1.iloc[:,-1].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=24)
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinominal",accuracy_score(y_test,y_pred2))
print("Bernoulli",accuracy_score(y_test,y_pred3))

Gaussian 0.68
Multinominal 0.805
Bernoulli 0.795